/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./assets/scss/admin/document-library-settings.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
/**
*  Converts a hex value into the rgb equivalent.
*
* @param {string} hex - the hexadecimal value to convert
* @return {string} comma separated rgb values
*/
/**
 * Colors
 */
/**
 * SCSS Variables.
 *
 * Please use variables from this sheet to ensure consistency across the UI.
 * Don't add to this sheet unless you're pretty sure the value will be reused in many places.
 * For example, don't add rules to this sheet that affect block visuals. It's purely for UI.
 */
/**
*  Converts a hex value into the rgb equivalent.
*
* @param {string} hex - the hexadecimal value to convert
* @return {string} comma separated rgb values
*/
/**
 * Colors
 */
/**
 * Fonts & basic variables.
 */
/**
 * Grid System.
 * https://make.wordpress.org/design/2019/10/31/proposal-a-consistent-spacing-system-for-wordpress/
 */
/**
 * Dimensions.
 */
/**
 * Shadows.
 */
/**
 * Editor widths.
 */
/**
 * Block & Editor UI.
 */
/**
 * Block paddings.
 */
/**
 * React Native specific.
 * These variables do not appear to be used anywhere else.
 */
/**
*  Converts a hex value into the rgb equivalent.
*
* @param {string} hex - the hexadecimal value to convert
* @return {string} comma separated rgb values
*/
/**
 * Long content fade mixin
 *
 * Creates a fading overlay to signify that the content is longer
 * than the space allows.
 */
/**
 * Breakpoint mixins
 */
/**
 * Focus styles.
 */
/**
 * Applies editor left position to the selector passed as argument
 */
/**
 * Styles that are reused verbatim in a few places
 */
/**
 * Allows users to opt-out of animations via OS-level preferences.
 */
/**
 * Reset default styles for JavaScript UI based pages.
 * This is a WP-admin agnostic reset
 */
/**
 * Reset the WP Admin page styles for Gutenberg-like pages.
 */
/**
 * Breakpoints & Media Queries
 */
:root {
  --wp-admin-theme-color: #007cba;
  --wp-admin-theme-color--rgb: 0, 124, 186;
  --wp-admin-theme-color-darker-10: rgb(0, 107, 160.5);
  --wp-admin-theme-color-darker-10--rgb: 0, 107, 161;
  --wp-admin-theme-color-darker-20: #005a87;
  --wp-admin-theme-color-darker-20--rgb: 0, 90, 135;
  --wp-admin-border-width-focus: 2px;
  --wp-block-synced-color: #7a00df;
  --wp-block-synced-color--rgb: 122, 0, 223;
  --wp-bound-block-color: var(--wp-block-synced-color);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  :root {
    --wp-admin-border-width-focus: 1.5px;
  }
}

/**
 * Breakpoint mixins
 */
/* stylelint-disable block-closing-brace-newline-after */
/* stylelint-enable */
.dlw-settings .form-table .readonly td,
.dlw-settings .form-table .readonly .description {
  color: #999;
}

.dlw-settings .form-table .pro-version {
  display: block;
  margin-top: 5px;
}

.dlw-settings .pro-version {
  font-size: 12px;
  font-weight: 600;
}

.promo-wrapper {
  display: flex;
  flex-direction: column;
}

.promo-wrapper p.promo {
  max-width: 900px;
}

.promo-wrapper a.promo {
  max-width: 649px;
}

.protect-promo p.promo {
  margin-bottom: 0;
}

.promo-wrapper img.promo {
  max-width: 649px;
  width: 100%;
}

.barn2-layout__header {
  background: #fff;
  box-sizing: border-box;
  width: calc(100% + 20px);
  margin-left: -20px;
  padding-left: 20px;
}
.barn2-layout__header .barn2-layout__header-wrapper {
  display: flex;
  align-items: center;
  min-height: 60px;
  padding-right: 20px;
}
@media (max-width: 782px) {
  .barn2-layout__header {
    flex-flow: row wrap;
    top: 46px;
    width: 100%;
  }
}
@media (min-width: 783px) and (max-width: 960px) {
  .barn2-layout__header {
    width: calc(100% - 36px);
  }
}
.barn2-layout__header .barn2-layout__header-breadcrumbs-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.barn2-layout__header .barn2-layout__header-heading {
  display: flex !important;
  align-items: center;
  padding: 0;
  flex: 1 auto;
  height: 60px;
  background: #fff;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
}

.folded .barn2-layout__header {
  width: calc(100% - 36px);
}
@media (max-width: 782px) {
  .folded .barn2-layout__header {
    width: 100%;
  }
}

.is-wp-toolbar-disabled .barn2-layout__header {
  top: 0;
}

.has-woocommerce-navigation .barn2-layout__header {
  left: 0;
  width: 100%;
}

.dlw-pro-only {
  font-weight: 600;
  font-size: 12px;
}

.dlw-settings .form-table input[type=text],
.dlw-settings .form-table input[type=number],
.dlw-settings .form-table input[type=email],
.dlw-settings .form-table input[type=url],
.dlw-settings .form-table input[type=password],
.dlw-settings .form-table select {
  width: 400px;
  max-width: 100%;
  box-sizing: border-box;
}
@media (max-width: 782px) {
  .dlw-settings .form-table input[type=text],
  .dlw-settings .form-table input[type=number],
  .dlw-settings .form-table input[type=email],
  .dlw-settings .form-table input[type=url],
  .dlw-settings .form-table input[type=password],
  .dlw-settings .form-table select {
    width: 100%;
  }
}

.multi-downloads-settings {
  margin-bottom: 2.5rem;
}

.dlw-settings h2 {
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}
.dlw-settings h2:first-of-type {
  margin-top: 0;
}
.dlw-settings .form-table + h2 {
  margin-top: 2rem;
}

/*# sourceMappingURL=document-library-settings.css.map*/